[Desktop Entry]
Version=1.0
Name=xboxdrv basic 2 (dpad as button)
Exec=/opt/xboxdrv/xboxdrvbasic.sh 2
Icon=xfce-games
Terminal=true
Type=Application
Categories=Application;Game;
