[Desktop Entry]
Version=1.0
Name=xboxdrv default
Exec=/home/panther/.scripts/launchers/xboxdrvdefault.sh
Icon=xfce-games
Terminal=true
Type=Application
Categories=Application;Game;
