# CanoScan LiDE scanner device.
ACTION=="add", ENV{SUBSYSTEM}=="usb", ENV{ID_VENDOR}=="Canon", ENV{ID_MODEL}=="CanoScan", SYMLINK="canoscan", MODE="0666"
