# CME M-key MIDI keyboard. Fires up a plug'n'play script.
# Note: If the script is always killed after a timeout, it's because of udev not being able to start processes in the background.
ACTION=="add", ATTR{product}=="CME M-KEY", RUN+="/usr/bin/su panther -c '/usr/bin/sh /opt/udev/scripts/cmemkey.sh'"
