# Set up a generic DragonRise gamepad.
# TODO: the script is always killed after a timeout. Nowadays udev needs some other way.
ACTION=="add", ENV{ID_VENDOR}=="DragonRise_Inc.", ENV{ID_MODEL}=="Generic_USB_Joystick", ENV{DEVNAME}=="*event*", SYMLINK="input/dragonrise-evdev", MODE="0664", RUN+="/usr/bin/bash /opt/udev/scripts/dragonrise.sh"
ACTION=="add", ENV{ID_VENDOR}=="DragonRise_Inc.", ENV{ID_MODEL}=="Generic_USB_Joystick", ENV{DEVNAME}=="*js*", RUN+="/usr/bin/bash /opt/udev/scripts/dragonrise_remove.sh $name"
ACTION=="remove", ENV{ID_VENDOR}=="DragonRise_Inc.", ENV{ID_MODEL}=="Generic_USB_Joystick", ENV{DEVNAME}=="*js*", RUN+="/usr/bin/bash /opt/udev/scripts/dragonrise_remove.sh"
