# Evdev symlink for Logitech MX Master mouse.
ACTION=="add", ENV{ID_VENDOR}=="Logitech", ENV{SUBSYSTEM}=="input", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_MODEL_ID}=="c52b", ENV{DEVNAME}=="*event*", SYMLINK="input/evdev-mouse", GROUP="wheel", MODE="0660"
