# MTP device custom automounter rules.
ACTION=="add", ENV{DEVLINKS}=="/dev/libmtp*", ENV{ID_BUS}=="usb", RUN+="/usr/bin/sh /opt/udev/scripts/mount_mtp.sh %E{ID_VENDOR_ID} %E{ID_MODEL_ID}"
ACTION=="remove", ENV{DEVLINKS}=="/dev/libmtp*", ENV{ID_BUS}=="usb", RUN+="/usr/bin/sh /opt/udev/scripts/mount_mtp.sh %E{ID_VENDOR_ID} %E{ID_MODEL_ID} -u"
