# Sunwave remote control device which is seen as a keyboard + joystick by the computer.
ACTION=="add", ENV{SUBSYSTEM}=="input", ENV{ID_VENDOR}=="06b4", ENV{ID_MODEL}=="1c70", ENV{DEVNAME}=="*event*", SYMLINK="input/remote", GROUP="wheel", MODE="0660"
