# The mouse is seen as two devices, create evdevs for both.
ACTION=="add", ENV{ID_VENDOR}=="RAPOO", ENV{SUBSYSTEM}=="input", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_USB_INTERFACE_NUM}=="01", ENV{DEVNAME}=="*event*", SYMLINK="input/evdev-mouse", GROUP="wheel", MODE="0660"
ACTION=="add", ENV{ID_VENDOR}=="RAPOO", ENV{SUBSYSTEM}=="input", ENV{ID_INPUT_KEYBOARD}=="1", ENV{ID_USB_INTERFACE_NUM}=="00", ENV{DEVNAME}=="*event*", SYMLINK="input/evdev-rapoo-keyboard", GROUP="wheel", MODE="0660"
