[Desktop Entry]
Version=1.0
Name=ArgoUML
Exec=/opt/programs/argouml/argouml.sh
Icon=.local/share/icons/argouml.png
Terminal=true
Type=Application
Categories=Application;Development;
