[Desktop Entry]
Version=1.0
Name=ArgoUML
Exec=/opt/programs/argouml/argouml.sh
Icon=argouml
Terminal=true
Type=Application
Categories=Application;Development;
