[Desktop Entry]
Name=Connect to Bluetooth audio with BlueALSA and JACK for mixing
Exec=.scripts/bluejack.sh xfce4-panel
Terminal=true
Type=Application
Icon=bluetooth
Categories=System;Utility;Audio
