[Desktop Entry]
Name=Connect to Bluetooth audio with BlueALSA
Exec=.scripts/bluealsa.sh
Terminal=false
Type=Application
Icon=bluetooth
Categories=System;Utility;Audio
