[Desktop Entry]
Name=Download pictures from a digital camera
Exec=bash -c 'mkdir -p downloads/camera && cd downloads/camera && ../../.scripts/camerapics.sh'
Terminal=true
Type=Application
Icon=camera-photo
Categories=Utility;Graphics
