[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Compiz
Exec=.scripts/launchers/compiz.sh
Icon=video-display
X-GNOME-WMName=Compiz
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
Categories=System
Hidden=false
