[Desktop Entry]
Name=DOSBox (custom)
Type=Application
Comment=DOS emulator
Exec=.scripts/launchers/dosbox.sh
Terminal=true
Icon=/usr/share/pixmaps/dosbox.ico
Categories=Game;Emulator;
