[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Extend display
Icon=xfce-display-extend
Exec=/home/panther/.scripts/external_display.sh extend
MimeType=text/plain
Terminal=true
Categories=Settings
