[Desktop Entry]
Type=Application
Name=Run local LLM
Exec=/home/panther/.scripts/launchers/local_llm.sh
Icon=emblem-personal
Terminal=false
Categories=Network;Utility
