[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Media player (surround)
Exec=.scripts/launchers/media_player.sh sr %f
MimeType=video/x-matroska
Icon=media-playback-start
