[Desktop Entry]
Name=Edit memo
Exec=gvim -n +1 -c start /home/panther/.memo
Terminal=false
Type=Application
Icon=accessories-text-editor
Categories=Office;
