[Desktop Entry]
Type=Application
Name=Set system time with NTP
Exec=sudo /usr/bin/ntpdate-debian && sudo hwclock -w
Icon=time-admin
Categories=System;Network;Utility
