[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Play DVD image (stereo)
Exec=.scripts/launchers/media_player_dvd.sh st %f
MimeType=application/x-cd-image
Icon=media-playback-start
