[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=playdvd (stereo)
Exec=/home/panther/.scripts/launchers/mplayer_dvd.sh st %f
MimeType=application/x-cd-image
