[Desktop Entry]
Name=Quod Libet
Exec=/opt/programs/quodlibet/quodlibet.py
Terminal=false
Type=Application
Icon=quodlibet
Categories=AudioVideo;Audio;Player
