[Desktop Entry]
Name=Scan documents using script
Exec=/home/panther/.scripts/canoscan.sh
Terminal=true
Type=Application
Icon=scanner
Categories=Utility;Office
