[Desktop Entry]
Name=Start VM (GPU passthrough)
Exec=.scripts/kvm/startvm_passthrough.sh
Icon=computer
Terminal=false
Type=Application
Categories=System;Utility
Hidden=false
