[Desktop Entry]
Name=Steam
Exec=.scripts/launchers/steam.sh @@u %U @@
Icon=com.valvesoftware.Steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
X-Desktop-File-Install-Version=0.27
StartupWMClass=Steam
X-Flatpak-RenamedFrom=steam.desktop;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.valvesoftware.Steam

[Desktop Action Store]
Name=Store
Exec=.scripts/launchers/steam.sh steam://store

[Desktop Action Community]
Name=Community
Exec=.scripts/launchers/steam.sh steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Exec=.scripts/launchers/steam.sh steam://open/games

[Desktop Action Servers]
Name=Servers
Exec=.scripts/launchers/steam.sh steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Exec=.scripts/launchers/steam.sh steam://open/screenshots

[Desktop Action News]
Name=News
Exec=.scripts/launchers/steam.sh steam://open/news

[Desktop Action Settings]
Name=Settings
Exec=.scripts/launchers/steam.sh steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=.scripts/launchers/steam.sh steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Exec=.scripts/launchers/steam.sh steam://open/friends

