[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=View archive contents
Exec=/home/panther/.scripts/view_archive.sh
Icon=system-file-manager
