[Desktop Entry]
Type=Application
Name=Display WiFi status
Exec=watch -n 1 /home/panther/.scripts/wifi_status.sh
Icon=network-wireless-symbolic
Terminal=true
Categories=Network;Utility
