[Desktop Entry]
Type=Application
Name=Scan WiFi networks
Exec=.scripts/wifi_scan.sh pause
Icon=network-wireless-symbolic
Terminal=true
Categories=Network;Utility
