[Desktop Entry]
Type=Application
Name=WiFi status
Exec=watch -n 1 .scripts/wifi_status.sh
Icon=network-wireless-symbolic
Terminal=true
Categories=Network;Utility
