[Desktop Entry]
Version=1.0
Name=KVM Windows 10 Pro (RDP)
Exec=/opt/virtualmachines/win10prordp.sh
Icon=computer
Terminal=false
Type=Application
Categories=System;Utility
