[Desktop Entry]
Name=Windows KVM: Power On
Exec=/home/panther/.scripts_extra/win11pro_passthrough.sh
Icon=computer
Terminal=false
Type=Application
Categories=System;Utility
Hidden=false
