[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Check router
Comment=Check if router is OK
Exec=.scripts/checkrouter.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
Icon=network-wired-no-route-symbolic
