[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Compiz
Comment=Compiz window manager
Exec=.scripts/launchers/compiz.sh
StartupNotify=false
Terminal=false
Hidden=false
