[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Conky
Comment=Display RSS feeds and info on desktop
Exec=.scripts/launchers/conky.sh
StartupNotify=false
Terminal=false
Hidden=false
