[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=feh (Set background)
Exec=feh --no-fehbg --bg-fill .themes/background
StartupNotify=false
Terminal=false
Hidden=false
