[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Flatpak portals
Comment=Portals for flatpak
Exec=.scripts/launchers/flatpak_portals.sh
StartupNotify=false
Terminal=false
Hidden=false
