[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gizmod
Comment=Evdev grabber and mapper
Exec=.scripts/launchers/gizmod.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
