[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Init keyboard
Comment=Set speed, language and bindings
Exec=.scripts/initkeyboard.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true
