[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Init keyboard
Comment=Initialize keyboard and set bindings
Exec=.scripts/initkeyboard.sh
StartupNotify=false
Terminal=false
Hidden=false
