[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Key bindings
Comment=Set key bindings
Exec=.scripts/key_bindings.sh
StartupNotify=false
Terminal=false
Hidden=false
RunHook=0

