[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Multimedia keys
Comment=Set extra bindings
Exec=.scripts_extra/mmkeys.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
