[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Panel stretcher
Exec=.scripts/xfce4-panel_stretcher.sh
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
