[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=udiskie
Comment=Automounter
Exec=/usr/bin/udiskie -NAt2
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
