[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=unclutter
Comment=Hide idle cursor
Exec=/usr/bin/unclutter
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
