[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Volumeicon
Comment=Show volume control in tray
Exec=.scripts/launchers/volumeicon.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
