[Desktop Entry]
Version=1.0
Name=VNC server
Exec=/usr/bin/x11vnc -noxdamage -forever -passwdfile /home/panther/.config/vnc_password
Icon=network-server
Terminal=false
Type=Application
Categories=System;Utility
Hidden=false
Comment=

