/* For a custom CSS browser extension.
 * Low contrast grey theme for Wikipedia.
 * Also hides the preview popups for better keyboard navigation.
 * */
@-moz-document domain("wikipedia.org") {

* {
	background: #303030 !important;
	color: #c0c0c0 !important;
}

a {
    color: #ffffff !important;
}

div.mwe-popups {
    display: none !important;
}

}
