[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Init keyboard
Comment=
Exec=/home/panther/.scripts/initkeyboard.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
