[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Init keyboard
Comment=
Exec=/home/panther/.scripts/initkeyboard.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

