[Desktop Entry]
Name=Remmina Applet
Comment=Connect to remote desktops through the applet menu
Icon=remmina
Exec=remmina -i
Terminal=false
Type=Application
Hidden=false
